{% extends 'core/base.html' %}

{% block tittle %} Contacto {% endblock %}

{% block background%}{% load static %}{% static 'core/img/contact-bg.jpg' %}{%endblock%}

{% block headers%}
    <h1>Contacto</h1>
    <span class="subheading">Más información...</span>
{% endblock %}

{% block content %}  

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Para poder contactar conmigo dejo aquí varias formas de hacerlo, y donde estoy disponible.</p>
        <br>
        <p><b>Teléfono:</b> +34 671 450 121</p>
        <p><b>Correo Electrónico:</b> <a href="mailto:emilio7blanco@gmail.com">emilio7blanco@gmail.com</a></p>
    </div>
</div>
{% endblock %}

